@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 margin: 0;
 font-family: 'Raleway', sans-serif;
 -webkit-font-smoothing: antialiased;
  color:#212121;
}
.wrapper{
  position: relative;
  clear:both;
  margin: 0 auto 75px auto;
  width: 100%;
  overflow: hidden;
}
.top{
  background: #4e89ae;
  height: 180px;
  border-top: 20px solid #43658b;
}

.top .title {
  width: 700px;
  margin: 38px auto 0 auto; 
}

.title h1 {
  font-size:24px;
  color:#FFF;
  font-weight:500;
}

.content{
    margin: -80px auto 100px;
  padding-bottom: 20px;
}

.card{
  position: relative;
  background: #fff;
  padding:50px;
  width: 600px;
  margin: 20px auto 0 auto;
  box-shadow: 0 2px 4px rgba(100,100,100,.1);
}

.card h2 {
  font-size:21px;
  font-weight:500;
}

.card h2 a {
  color:#CC0000;
  text-decoration:none;
}

.card .text {
  color:#212121;
  margin-top:20px;
  font-size:15px;
  line-height:22px;
}

.blogpost h2 {
  font-size: 1.8rem;
  margin-block: 1rem;
}

.blogpost h3 {
  font-size: 1.5rem;
  margin-block: 1rem;
}

.blogpost blockquote {
  font-size: 1rem;
  margin-left: 2rem;
  line-height: 1.1rem;
}

input {
  padding-left: 0.5rem;
  border: 1px solid #cfcbcb;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #43658b;
  color: white;
  text-align: center;
}

#cke_notifications_area_body {
  display: none;
}

#cke_notifications_area_ckeditor {
  display: none;
}

#comment p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1rem;
}

label {
  color: grey;
  position: absolute;
  width: fit-content;
  background: white;
  translate: 0.7rem -1.7rem;
  scale: 1;
  transform-origin: top left;
  transition: 
    translate 200ms ease,
    scale 200ms ease
}

textarea ~ label {
  translate: 0.7rem -7.7rem;
  scale: 1;
  transform-origin: top left;
  transition: 
    translate 200ms ease,
    scale 200ms ease
}

input:focus ~ label {
  padding-inline: 0.2rem;
  translate: 0.4rem -2.5rem;
  transform-origin: top left;
  scale: 0.8;
  transition: 
    translate 200ms ease,
    scale 200ms ease
}

textarea:focus ~ label {
  padding-inline: 0.2rem;
  translate: 0.7rem -8.6rem;
  scale: 0.8;
  transform-origin: top left;
  transition: 
    translate 200ms ease,
    scale 200ms ease
}

input:focus-visible, textarea:focus-visible {
  border: 1px solid red;
  outline: none;
}
