{% extends "base.html" %} {% block content %}
<h1
  class="text-6xl font-extrabold font-sans text-white fixed top-48 left-1/2 transform -translate-x-1/2 z-20"
>
  About
</h1>
<div
  class="container absolute left-1/2 transform -translate-x-1/2 top-[25rem] z-10"
>
  <div
    class="w-3/4 h-full mx-auto shadow-2xl m-12 p-12 bg-gray-100 rounded-lg article-card bg-white"
  >
    <h2 class="text-xl text-red-500 text-center font-extrabold mb-3">
      Avant-garde art's plasticity is the plasticity of reality itself
    </h2>
    <p class="text-center">
      The avant-garde movements of the early 20th century present a world where
      art defies convention and philosophy reshapes perception. This blog
      examines how Cubism, Surrealism, and other revolutionary styles engaged
      with ideas such as plasticity, speculation, and the absolute. Forms bend,
      dissolve, and reconstruct, reflecting philosophical explorations of
      reality’s malleable nature. The speculative impulse behind this engagement
      with reality drove artists to envision worlds beyond the tangible, and the
      quest for the absolute that tethered creative chaos to transcendental
      ideals. A journey through art as thought — provocative, fluid, and
      infinitely transformative.
    </p>
  </div>
</div>
{% include "footer.html" %} {% endblock %}
