<header class="bg-white">
<div>
    <div>
        <img src="
        {% if post: %}
        {{ post.img_url }}
        {% else: %}
        {{ image }}
        {% endif %}
        " alt="a protester throwing a stone during May '68 uprising in Paris"
             class="absolute w-full h-1/2 object-cover object-top">
        {% if image: %}
            <div class="bg-gradient-to-b from-black w-full h-1/4 absolute"></div>
            <div class="bg-gradient-to-t from-white w-full h-1/4 absolute transform translate-y-full mt-1"></div>
        {% endif %}
    </div>
    {% include "navbar.html" %}
</div>
</header>