<header class="bg-white">
<div>
    <div>
        <img src="
        {% if post: %}
        {{ post.img_url }}
        {% else: %}
        {{ image }}
        {% endif %}
        " alt="a protester throwing a stone during May '68 uprising in Paris"
             class="w-full h-[40vh] object-cover object-top" id="top-image">
        {% if image: %}
            <div class="bg-gradient-to-b from-black w-full h-1/4 absolute -top-16"></div>
        {% else: %}
            <div class="bg-gradient-to-b from-black w-full h-1/4 absolute -top-16"></div>
        {% endif %}
    </div>
    {% include "navbar.html" %}
    {% include "mobile-nav.html" %}
</div>
</header>
