{% extends "base.html" %}
{% block content %}
<div>
    <img src="static/images/uprising68.jpg" alt="a protester throwing a stone during May '68 uprising in Paris"
         class="fixed w-full h-2/3 object-cover object-top">
    <div class="bg-gradient-to-b from-black w-full h-1/3 fixed"></div>
    <div class="bg-gradient-to-t from-white w-full h-1/3 fixed transform translate-y-full mt-1"></div>
</div>
<div class="container fixed left-1/2 transform -translate-x-1/2 mx-auto block h-96">
    {% include "navbar.html" %}
</div>
<h1
        class="text-6xl font-extrabold font-sans text-white fixed top-24 left-1/2 transform -translate-x-1/2 z-20"
>Ruins of <span class="text-red-300">Reason</span></h1>
<div class="container absolute left-1/2 transform -translate-x-1/2 top-1/2 z-10 pb-[10rem]">
    {% for post in posts: %}
    <div class="w-3/4 h-full mx-auto shadow-xl m-12 p-5 bg-gray-100 rounded-lg article-card">
        <h2 class="text-xl text-red-400 font-extrabold mb-3">{{ post["title"] }}</h2>
        <p class="text">{{ post["subtitle"] }}</p>
        <div class="flex gap-3">
            <a href="{{ url_for('get_post', post_id=post['id']) }}" class="underline mt-3 block">Read</a>
            <a href="{{ url_for('delete', post_id=post['id']) }}" class="underline mt-3 block">✘</a>
        </div>
    </div>
    {% endfor %}
    <p class="w-48 mx-auto rounded-xl text-sm text-center text-white font-extrabold leading-6 bg-red-400
              hover:bg-red-300 transition-all duration-200 cursor-pointer">
        <a href="{{ url_for('new_post', heading='New Post') }}">Write a new blog post</a>
    </p>
</div>
{% include "footer.html" %}
<script src="../static/js/fadeout.js"></script>
{% endblock %}