{% extends "base.html" %}
{% block content %}
<h1
        class="text-6xl font-extrabold font-sans text-white fixed top-24 left-1/2 transform -translate-x-1/2 z-20"
>Ruins of <span class="text-red-300">Reason</span></h1>
<div class="container absolute left-1/2 transform -translate-x-1/2 top-1/2 z-10 pb-[10rem]">
    {% for post in posts: %}
    <div class="w-3/4 h-full mx-auto shadow-xl m-12 p-5 bg-gray-100 rounded-lg article-card">
        <h2 class="text-xl text-red-400 font-extrabold mb-3">{{ post["title"] }}</h2>
        <p class="text">{{ post["subtitle"] }}</p>
        <p class="text mt-2">Posted by {{ post["author"]["name"] }} on {{ post.date }}</p>
        <div class="flex gap-3">
            <a href="{{ url_for('main.get_post', post_id=post['id']) }}" class="underline mt-3 block">Read</a>
            {% if current_user and current_user.id == 1: %}
            <a href="{{ url_for('main.delete', post_id=post['id']) }}" class="underline mt-3 block">✘</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% if current_user and current_user.id == 1: %}
    <p class="w-48 mx-auto rounded-xl text-sm text-center text-white font-extrabold leading-6 bg-red-400
              hover:bg-red-300 transition-all duration-200 cursor-pointer">
        <a href="{{ url_for('main.new_post', heading='New Post') }}">Write a new blog post</a>
    </p>
    {% endif %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes list-none text-center">
        {% for message in messages %}
        <li class="text-danger">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
{% include "footer.html" %}
<script src="../static/js/fadeout.js"></script>
{% endblock %}