{% extends "base.html" %} {% block content %}
<h1
  class="absolute text-6xl font-extrabold font-sans text-white top-[18vh] xl:top-48 left-1/2 transform -translate-x-1/2 z-20"
>
  Login
</h1>
<div
  class="w-full mt-12 z-10"
>
<form method="POST" action="{{ url_for('main.login') }}" novalidate
    class="w-full">
    {{ form.csrf_token }}
    <div
      class="w-[88vw] xs:w-80 h-full block ms-[5vw] me-[15vw] xs:mx-auto shadow-2xl md:mt-12 p-12 rounded-lg flex flex-col gap-3"
    >
      <p class="hidden mb-5" id="custom-flash-message"></p>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes list-none text-center">
        {% for message in messages %}
        <li class="text-danger">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}

      <div class="w-full">
        {{ form.email(class="w-full h-8 mt-2 py-3 pe-6 s-2 rounded-md") }} {{
        form.email.label(class="block") }}
      </div>
      {% for err in form.email.errors %}
      <span class="text-red-600 -mt-2 mb-3">{{ err }}</span>
      {% endfor %}

      <div class="w-full">
        {{ form.password(class="w-full h-8 mt-2 py-3 pe-6 s-2 rounded-md") }} {{
        form.password.label(class="block") }}
      </div>
      {% for err in form.password.errors %}
      <span class="text-red-600 -mt-2 mb-3">{{ err }}</span>
      {% endfor %} {{ form.submit(size=30, class="w-full mt-3 bg-red-400
      hover:bg-red-300 rounded-xl text-white font-bold mt-3 transition-all") }}
    </div>
  </form>
</div>
<script>
  // Check for flash message in session storage
  const flashMessage = sessionStorage.getItem("flashMessage");
  if (flashMessage) {
    // Display the flash message
    const messageElement = document.querySelector("#custom-flash-message");
    messageElement.innerText = flashMessage;
    messageElement.classList.remove("hidden");
    // Remove the flash message from session storage
    sessionStorage.removeItem("flashMessage");
  }
</script>
{% endblock %}
