{% extends "base.html" %}
{% block content %}
<div>
    <div class="relative -top-[29rem] w-full h-[50vh] flex flex-col justify-end">
        <h1 class="w-2/5 mx-auto block text-5xl font-extrabold font-sans text-white text-start mb-5"
        >{{ post['title'] }}</h1>
        <h2 class="w-2/5 mx-auto text-2xl font-extrabold font-sans text-white text-start">{{
            post['subtitle'] }}</h2>
        <p class="w-2/5 mt-5 mb-12 mx-auto block font-extrabold font-sans mx-auto text-white text-start">
            Posted by <span class="text-white underline">{{ post['author']['name'] }}</span> on {{ post['date'] }}
        </p>
    </div>
    <div class="blogpost relative -top-[27rem] w-2/5 h-full mx-auto text-lg relative mb-[40rem] rounded-xl font-bold">
        {{ post['body'] | safe }}
        <div class="mt-5 flex">
            <button id="like-button" class="h-5 me-3 mb-1 mt-[0.1rem] flex items-center hover:text-red-400"
                    data-user-authenticated="{{ current_user.is_authenticated|tojson }}"
                    data-post-id="{{ post.id }}">
                <span class="font-mono">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="
                         {% if current_user not in post.likes: %}
                         none
                         {% else: %}
                         currentColor
                         {% endif %}
                         "
                         viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" id="heart"
                         class="size-6 w-5 h-5 me-1 mt-[0.1rem] hover:text-red-400 transition-color duration-200">
                      <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"/>
                    </svg>
                </span>
                <span class="leading-r me-1 text-lg font-normal font-sans hover:text-red-400 transition-color duration-200"
                      id="like-count">
                      {% if post.likes|length > 0: %}
                      {{ post.likes|length }}
                      {% endif %}
                </span>
            </button>
            <button class="h-5 me-3 mb-1 mt-[0.1rem] flex items-start hover:text-red-400" id="comment-btn">
                <span class="font-mono">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor"
                         class="size-6 w-5 h-5 me-1 hover:text-red-400 transition-color duration-200">
                      <path stroke-linecap="round" stroke-linejoin="round"
                            d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z"/>
                    </svg>
                </span>
                {% if post.comments|length > 0: %}
                <span class="leading-5 me-1 text-lg font-normal font-sans hover:text-red-400 transition-color duration-200">
                    {{ post.comments|length }}
                </span>
                {% endif %}
            </button>
            {% if current_user.is_authenticated and current_user.id == 1: %}
            <!-- The 'post.id' code in the line below was 'post.['id']' before and broke the highlighting. -->
            <!-- It has to be tested, if this works -->
            <a href="{{ url_for('main.edit_post', post_id=post.id, heading='Edit Post') }}"
              class="me-2 mt-[0.2rem] underline text-sm">Edit Post
            </a>
            {% endif %}
            <a href="/" class="mt-[0.2rem] ps-2 text-sm underline">Go back to home</a>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes list-none text-center mt-5">
            {% for message in messages %}
            <li class="text-danger">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div id="comment-field" class="opacity-0 transition-opacity duration-300">
            {% if current_user.is_authenticated: %}
            <form action="{{ url_for('main.get_post', post_id=post.id) }}" method="POST" class="mt-8">
                {{ form.csrf_token }}
                {{ form.body }}
                {{ form.submit(class="w-36 mt-5 ms-auto ps-0 rounded-lg bg-red-400 hover:bg-red-300 text-white
                font-extrabold leading-8 transition duration-300 cursor-pointer") }}
            </form>
            {% endif %}
            {% if post.comments: %}
            <div class="mt-8 font-bold">
                <h4 class="mb-3 text-lg">{{ post.comments|length }} Comment(s)</h4>
                {% for comment in post.comments: %}
                {% if comment.replied_to_id == None: %}
                <div class="mb-5 p-5 border border-slate-300 rounded-xl flex" id="comment-id-{{ comment.id }}">
                    <img src="{{ comment.author.email | gravatar }}" alt="" class="w-8 h-8 me-3 rounded-full">
                    <div>
                        <h5 class="text-base font-bold mb-3">
                            {{ comment.author.name }} commented on {{ comment.date }}:</h5>
                        <div id="comment">
                            {{ comment.body | safe }}
                        </div>
                        <div class="flex">
                            <button id="comment-like-button" data-comment-id="{{ comment.id }}"
                                    data-user-authenticated="{{ current_user.is_authenticated }}"
                                    class="h-5 me-3 mb-1 mt-3 flex items-center hover:text-red-400">
                                <span class="font-mono">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="
                                         {% if current_user not in comment.likes: %}
                                         none
                                         {% else: %}
                                         currentColor
                                         {% endif %}
                                         "
                                         viewBox="0 0 24 24" stroke-width="1.5"
                                         stroke="currentColor" id="comment-heart"
                                         class="size-6 w-5 h-5 me-1 mt-[0.1rem] hover:text-red-400 transition-color duration-200">
                                          <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"/>
                                    </svg>
                                </span>
                                <span class="leading-r me-1 text-lg font-normal font-sans hover:text-red-400 transition-color duration-200"
                                      id="comment-like-count">
                                    {% if comment.likes|length > 0: %}
                                    {{ comment.likes|length }}
                                    {% endif %}
                                </span>
                            </button>
                            <button class="h-5 me-3 mb-1 mt-3 flex items-start hover:text-red-400"
                                    id="reply-btn" data-comment-id="{{ comment.id }}">
                                <span class="font-mono">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5"
                                         stroke="currentColor"
                                         class="size-6 w-5 h-5 me-1 hover:text-red-400 transition-color duration-200">
                                      <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z"/>
                                    </svg>
                                </span>
                                {% if comment.replies|length > 0: %}
                                <span class="leading-5 me-1 text-lg font-normal font-sans hover:text-red-400 transition-color duration-200"
                                      id="replies-count">
                                    {{ comment.replies|length }}
                                </span>
                                {% endif %}
                            </button>
                            {% if current_user.id == comment.author.id: %}
                            <button class="mt-3 text-sm">
                                <a href="{{ url_for('main.delete_comment', comment_id=comment.id) }}">
                                    Delete
                                </a>
                            </button>
                            {% endif %}
                        </div>
                        <div class="mt-8 mb-2 hidden" id="replies-{{ comment.id }}">
                            {% if current_user.is_authenticated: %}
                            <div class="mt-5 flex hidden" id="template-reply">
                                <img src="{{ current_user.email | gravatar }}" alt="" class="w-8 h-8 me-3 rounded-full">
                                <div>
                                    <h6 class="text-sm font-bold mb-2">{{ current_user.name }} replied on {{ date }}:</h6>
                                    <p class="text-sm font-light"></p>
                                </div>
                            </div>
                            {% endif %}
                            <div id="replies-inner-{{ comment.id }}">
                                {% for reply in comment.replies: %}
                                <div class="mt-5 flex" id="reply-id-{{ reply.id }}">
                                    <img src="{{ reply.author.email | gravatar }}" alt="" class="w-8 h-8 me-3 rounded-full">
                                    <div>
                                        <h6 class="text-sm font-bold mb-2">{{ reply.author.name }} replied on {{ reply.date }}:</h6>
                                        <p class="text-sm font-light">
                                            {{ reply.body | safe }}
                                        </p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="mt-8 w-full border border border-slate-300 rounded-xl text-sm"
                                 id="reply-to-{{ comment.id }}">
                                <textarea name="reply" rows="3" placeholder="Write a reply..." style="resize: none"
                                          class="text-sm w-full p-3 rounded-xl focus:outline-none" id="textarea-{{ comment.id }}"
                                ></textarea>
                                <button class="w-16 block p-1 ml-auto bg-red-400 hover:bg-red-300 m-3 text-sm text-white rounded-full"
                                        id="submit-reply-btn" onclick="replyToComment({{ comment.id }})">
                                    Reply
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    const commentBtn = document.querySelector('#comment-btn');
    commentBtn.addEventListener('click', () => {
        const commentField = document.querySelector('#comment-field');
        if (commentField.classList.contains("opacity-0")) {
            commentField.classList.replace("opacity-0", "opacity-100");
        } else {
            commentField.classList.replace("opacity-100", "opacity-0");
        }
    })
</script>
<script src="../static/js/likeButton.js"></script>
<script src="../static/js/replyToComment.js"></script>
{{ ckeditor.load() }}
{% endblock %}
