<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post['title'][:40] }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles_output.css') }}">
</head>
<body>
<div>
    <div>
        <img src="../static/images/parisdemo.jpg" alt="a protester throwing a stone during May '68 uprising in Paris"
             class="fixed w-full h-2/3 object-cover object-top">
        <div class="bg-gradient-to-b from-black w-full h-1/3 fixed"></div>
        <div class="bg-gradient-to-t from-white w-full h-1/3 fixed transform translate-y-full mt-1"></div>
    </div>
    <div class="container fixed left-1/2 transform -translate-x-1/2 mx-auto block h-96">
        {% include "navbar.html" %}
    </div>
    <h1
            class="text-6xl font-extrabold font-sans relative top-48 text-white text-center mb-5"
    >{{ post['title'] }}</h1>
    <h2 class="text-2xl font-extrabold font-sans relative top-52 text-white text-center">{{ post['subtitle'] }}</h2>
    <p class="w-1/3 block font-extrabold font-sans relative top-56 mx-auto text-white text-center">
        Posted by <span class="text-red-400">{{ post['author'] }}</span> on {{ post['date'] }}
    </p>
    <div class="w-2/5 h-full mx-auto shadow-xl relative top-[20rem] mb-[40rem] p-5 bg-gray-100 rounded-lg">
        {{ post['body'] | safe }}
        <p class="mt-5">
            <a href="{{ url_for('edit_post', post_id=post['id'], heading='Edit Post') }}" class="underline">Edit Post</a>
            <a href="/" class="ps-2 underline">Go back to home</a>
        </p>
    </div>
</div>
</body>
{% include "footer.html" %}
</html>