{% extends "base.html" %} {% block content %}
<h1
  class="absolute text-6xl font-extrabold font-sans text-white top-[18vh] xl:top-48 left-1/2 transform -translate-x-1/2 z-20"
>
  Register
</h1>
<div
  class="w-full mt-12 z-10"
>
  <form
    action="{{ url_for('main.register') }}"
    method="POST"
    class="w-full"
  >
    {{ form.csrf_token }}
    <div
      class="w-[88vw] xs:w-80 h-full block ms-[5vw] me-[15vw] xs:mx-auto shadow-2xl md:mt-12 p-12 rounded-lg flex flex-col gap-3"
      id="write-container"
    >
      <div class="w-full">
        {{ form.name(class="w-full h-8 rounded-lg py-3 px-6") }} {{
        form.name.label(class="block") }}
      </div>
      <div class="w-full">
        {{ form.email(class="w-full h-8 rounded-lg py-3 px-6") }} {{
        form.email.label(class="block") }}
      </div>
      <div class="w-full">
        {{ form.password(class="w-full h-8 border border-solid border-gray-400
        rounded-lg py-3 px-6") }} {{ form.password.label(class="block") }}
      </div>
      {{ form.submit(class="w-full mt-3 text-sm leading-6 text-center mx-auto p-0
      text-white font-extrabold rounded-xl bg-red-400 hover:bg-red-300
      transition-all duration-200 cursor-pointer") }}
    </div>
  </form>
</div>
{% endblock %}
